<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>2-3 A19 Express Exam</title>
  <link rel="stylesheet" href="/stylesheet/style.css">
</head>

<body>
  <header>
    <div class="container">
      <a class="btn" href="/">回到首頁</a>
      <nav class="navbar">
        {{#each navButtons}}
        <a class="btn {{#if this.isActive}}active{{/if}}" href="/{{this.name}}">
          {{this.name}}
        </a>
        {{/each}}
      </nav>
    </div>
  </header>
  <div class="container">
    {{{ body }}}
  </div>
</body>

</html>