<header>
  <div class="container">
    <a class="btn" href="/">回到首頁</a>
    <nav class="navbar">
      <a class="btn" href="/about">About</a>
      <a class="btn" href="/portfolio">Portfolio</a>
      <a class="btn" href="/contact">Contact</a>
    </nav>
  </div>
</header>
<div class="container">
  <h2>首頁</h2>
</div>